﻿@model IEnumerable<Phoenix_Petstore.Animal>

@{
    ViewBag.Title = "Animal";
}

<h2>Animal</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BREED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATEBORN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GENDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.REGISTERED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COLOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LISTPRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHOTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMAGEFILE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMAGEHEIGHT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IMAGEWIDTH)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BREED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATEBORN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GENDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.REGISTERED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COLOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LISTPRICE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHOTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMAGEFILE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMAGEHEIGHT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IMAGEWIDTH)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ANIMALID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ANIMALID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ANIMALID })
        </td>
    </tr>
}

</table>
