﻿@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:700|Fauna+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Roboto:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:700|Fauna+One" rel="stylesheet">
</head>

<div class="carousel slide caption-va boxed" data-ride="carousel">
    <div class="carousel-inner text-center text-white m-auto">

        <div class="item active active text-center p-4">
            <img src="/Content/Images/Dog.png" alt="" class="img-responsive">


            <div class="carousel-caption">
                <div style="margin: 0 auto">
                    <h1 style=font-size:150px>50% OFF</h1>
                    <h1>Merchandise only</h1>
                    <br />

                    <span class="border border-light">
                        <button type="button" class="btn btn-default btn-lg" style="background-color:transparent; color:white" onclick="location.href='@Url.Action("Merchandise", "Home")'">Shop Now</button>
                    </span>


                </div>
            </div>
        </div>
    </div>
</div>




</br>
</br>



</br>






<div class="container">
    <h2 style="text-align:left">Explore Our Top Categories</h2>
    <br />
    <br />

    <div class="row ">



        <div class="col-sm-4 col-smd-4 p1">
            <div class="hovereffect">
                <img class="img-responsive" src="/Content/Images/walk.jpg" alt="">
                <div class="overlay">
                    <h2>Dog Leashes</h2>
                    <p>
                        <a href="#">SHOP NOW</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-smd-4 p1">
            <div class="hovereffect">
                <img class="img-responsive" src="/Content/Images/treat.jpg" alt="">
                <div class="overlay">
                    <h2>Dog Treats</h2>
                    <p>
                        <a href="#">SHOP NOW</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-smd-4 p1">
            <div class="hovereffect">
                <img class="img-responsive" src="/Content/Images/bed.jpg" alt="">
                <div class="overlay">
                    <h2>Dog Beds</h2>
                    <p>
                        <a href="#">SHOP NOW</a>
                    </p>
                </div>
            </div>
        </div>




    </div>
</div>


<br />
<br />
<br />



<div class="container">

    <span class="border border-light">
        <button type="button" class="btn-black btn-lg " style="background-color:transparent; outline-color:black" c onclick="location.href='@Url.Action("Merchandise", "Home")'">Shop All</button>
    </span>
</div>
<br />




















<br />
<br />
<br />
<!-- Jumbotron -->
<!--<div class="container">

    <div class="jumbotron jumbotron-fluid">-->
@*<div class="container">*@
<!--<div class="row">
    <div class="col-1"></div>
    <div class="col-4 text-right">
        <img src="/Content/Images/why.jpg" />
    </div>
    <div class="col-6">
        <h3 class="display-5">"Espher Information Assocation"</h3>
        <p class="lead">제16세대 프로젝트</p>
    </div>
    <div class="col-1"></div>
</div>-->
@*</div>*@
<!--</div>

</div>-->


<div class="container">
    <div class="jumbotron jumbotron-fluid nopadding">
        <div class="row nopadding">
            <div class="col-sm-4 pad">

                <br />
                <br />
                <br />


                <span class="text-center">
                    <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DISCOVER MORE</h2>
                </span>
                <p>
                    <font size="+1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel porta mauris. Nunc a imperdiet augue, quis aliquam nunc. Duis rutrum ultricies lectus, in mattis lectus pellentesque a.</font>

                </p>

            </div>

            <div class="col-sm-offset-6 nopadding pull-right">
                <img src="/Content/Images/why.jpg" />
            </div>
        </div>
    </div>

</div>



<br />
<br />
<br />

<br />
<br />
<br />




@*<img src="/Content/Images/why.jpg" />*@

<div class="jumbotron" style="background-color: #222222">
    <span class="text-white-50 text-center">
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WHAT'S GOING ON AT THE PETSTORE?</h2>
    </span>



    <br />
    <br />

    <div class="container">


        <div class="row col-gap ">
            <div class="col-xs-4 text-white-50">


                <p>
                    <br />
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#7CFC00" class="bi bi-cart" viewBox="0 0 16 16">
                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>

                    <br />
                    <h3>Shopping Cart</h3>

                    <br />
                    <font size="+1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel porta mauris. Nunc a imperdiet augue, quis aliquam nunc. Duis rutrum ultricies lectus, in mattis lectus pellentesque a.</font>
                </p>
            </div>
            <div class="divider-vertical"></div>




            <div class="col-xs-4 text-white-50 center-block">

                <p>
                    <br />
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#7CFC00" class="bi bi-bell-fill" viewBox="0 0 16 16">
                        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z" />
                    </svg>

                    <br />
                    <h3>New Notifications</h3>

                    <br />
                    <font size="+1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel porta mauris. Nunc a imperdiet augue, quis aliquam nunc. Duis rutrum ultricies lectus, in mattis lectus pellentesque a.</font>
                </p>
            </div>
            <div class="divider-vertical">

            </div>

            <div class="col-xs-offset-4 text-white-50">

                <p>
                    <br />
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="#7CFC00" class="bi bi-bag-check" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                    </svg>

                    <br />
                    <h3>Registry</h3>

                    <br />
                    <font size="+1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vel porta mauris. Nunc a imperdiet augue, quis aliquam nunc. Duis rutrum ultricies lectus, in mattis lectus pellentesque a.</font>
                </p>

                <br />
                <br />


            </div>
        </div>
        <p>
            &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            <span class="border border-light">
                <button type="button" class="btn btn-default btn-lg" style="background-color:transparent; color:white" onclick="location.href='@Url.Action("Merchandise", "Home")'">Suscribe Today</button>
            </span>
        </p>
    </div>
</div>


<!-- Styling -->

<style>



    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

        .hovereffect .overlay {
            position: absolute;
            overflow: hidden;
            width: 80%;
            height: 80%;
            left: 10%;
            top: 10%;
            border-bottom: 1px solid #FFF;
            border-top: 1px solid #FFF;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: scale(0,1);
            -ms-transform: scale(0,1);
            transform: scale(0,1);
        }

        .hovereffect:hover .overlay {
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

        .hovereffect img {
            display: block;
            position: relative;
            -webkit-transition: all 0.35s;
            transition: all 0.35s;
        }

        .hovereffect:hover img {
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
            filter: brightness(0.6);
            -webkit-filter: brightness(0.6);
        }

        .hovereffect h2 {
            text-transform: uppercase;
            text-align: center;
            position: relative;
            font-size: 17px;
            background-color: transparent;
            color: #FFF;
            padding: 1em 0;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(0,-100%,0);
            transform: translate3d(0,-100%,0);
        }

        .hovereffect a, .hovereffect p {
            color: #FFF;
            padding: 1em 0;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
        }

        .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

    .btn {
        border-radius: 0 !important;
        border-width: medium;
        padding: 10px 60px;
        outline-color: white
    }

    .btn-black {
        border-radius: 0 !important;
        border-width: medium;
        padding: 10px 60px;
        outline-color: black
    }

    .btn-xl {
        padding: 10px 30px;
        font-size: 20px;
        border-radius: 0;
        border-width: medium;
    }


    body {
        Font-Family: 'Open Sans', Sans-Serif;
    }

    h1 {
        font-weight: bold;
        Font-Family: 'Cinzel', Cursive;
    }

    h3 {
        font-weight: bold;
        Font-Family: 'Cinzel', Cursive;
    }

    h2 {
        font-weight: bold;
        Font-Family: 'Cinzel', Cursive;
    }
    /* .center-content {
                        position: relative;
                        top: -300px;
                    }
                */

    div {
        text-align: center
    }




    .divider-vertical {
        height: 350px; /* any height */
        border-left: 1.5px solid white; /* right or left is the same */
        float: left; /* so BS grid doesn't break */
        /* optional */
        margin: 0 15px; /* optional */
    }


    .boxed {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .panelzone > .panel-header {
        padding: 0px;
    }


        .panelzone > .panel-header > img {
            width: 100%;
            height: 100%;
        }

    .caption-va .carousel-caption {
        position: absolute;
        text-align: center;
        top: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        vertical-align: middle;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        height: 100%;
    }

    .panel-height {
        height: 80px;
    }


    .equal, .equal > div[class*='col-'] {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex: 1 1 auto;
    }

    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }

    .pad {
        padding: 10px !important;
        margin: 10px !important;
    }

    .col-gap {
        column-gap: 2rem;
    }

    .text-white-50 {
        color: rgba(255, 255, 255) !important;
    }

    .v-divider {
        margin-left: 5px;
        margin-right: 5px;
        width: 1px;
        height: 100%;
        border-left: 1px solid gray;
    }

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*  svg {
            width: 25%;
            height: 25%;
            color: #7CFC00;
        }*/
</style>
